<section class="signup">
    <div class="signup__form">
      <span class="signup__form-title">Sign up account</span>
      <div class="signup__form-inputs">
        <div class="signup__input-text">
          <span>Email</span>
          <div class="signup__input">
            <i class="fa fa-envelope"></i>
            <input type="text" name="username">
          </div>
        </div>
        <div class="signup__input-text">
          <span>Password</span>
          <div class="signup__input">
            <i class="fas fa-lock"></i>
            <input type="password" name="password">
          </div>
        </div>
        <button class="signup__submit">Sign up</button>
        <br/>
        <div class="signup__ui">
          <a href="#" class="signup__already" ui-sref = "login">Already have an acoount?</a>
        </div>
      </div>
    </div>
</section>




